:root {
    --primary-colour: #D5BF86;
    --primary-colour-light: #F1F0CC;
    --primary-colour-dark: #8D775F;

    --secondary-colour: #A71D31;
    --secondary-colour-dark: #3F0D12;

    --link-color: var(--secondary-colour);

    --padding-normal: 20px;

    --max-width: 1440px;
}
