
.skills-main {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 var(--padding-normal);

    &__content {
        order: -1;
        @media only screen and (min-width: 740px) {
            order: initial;
            margin-top: 100px;
        }
    }
}
