{% import "macros/favicon.html" as favicon_macro %}
<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__attribution">
            <p class="footer__attribution-icon">
                <img alt="This website's icon" src="{{ favicon_macro::favicon(colour="white") }}" width="24" style="color: white;">
            </p>
            <p class="footer__attribution-info">
                <a href="https://thenounproject.com/icon/digital-921421/">Digital</a> by <a href="https://thenounproject.com/korawan_m/">BomSymbols </a>from <a href="https://thenounproject.com/">NounProject.com</a>
            </p>
        </div>

        <div class="footer__copy">
            <p>&copy; 2022</p>
            <p>Matthew Ewan-Laws</p>
            <p>Web Developer</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/main.js"></script>
