.nav {
    @media only screen and (min-width: 600px) {
        align-self: flex-start;
        margin-left: auto;
        align-self: initial;
    }

    &__list {
        padding: 0;
        list-style-type: none;
        text-align: center;
        display: flex;
        gap: 20px;
    }

    &__item {
        font-family: "Georgia", sans-serif;
        font-size: 16px;
        font-weight: 100;

        @media only screen and (min-width: 600px) {
            font-size: 20px;
        }
    }

    &--full {
        align-self: flex-start;

        @media only screen and (min-width: 500px) {
            width: initial;
            margin: 0 0 0 var(--middle-padding);
            align-self: initial;
        }

        .nav {
            &__list {
                flex-direction: column;
                padding: 0;
                list-style-type: none;
                text-align: center;
            }

            &__item {
                font-family: "Georgia", sans-serif;
                font-size: 20px;
                font-weight: 100;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
