{% import "macros/svgs.html" as svgs %}
{% import "macros/skills.html" as skills %}
{% import "macros/favicon.html" as favicon_macro %}
<!doctype html>
<html lang="en">
<head>
  <title>Matthew Ewan-Laws - Web Developer</title>
  {% include "partials/head.html" %}
</head>
<body>

<header class="header-splash">
  <div class="header-splash__title-container">
    <h1 class="header-splash__title">Matthew <span class="no-wrap">Ewan-Laws</span></h1>
    <div class="header-splash__subtitle" role="doc-subtitle">Web Developer</div>
  </div>

  <div class="header-splash__down-chevron">
    {{ svgs::svg(name="chevron") }}
  </div>


  <nav class="nav nav--full">
    {% include "partials/nav.html" %}
  </nav>
</header>

<main class="about-me">
    <article class="article-fixed js-slide-in">
        <h2 class="article-fixed__header">Tech stack</h2>
        {% set skills_section = get_section(path="skills/_index.md") %}
        {{ skills::skills(skills=skills_section.pages) }}
    </article>


    <article class="article-fixed margin-bottom js-slide-in" id="first-item">
        <h2 class="article-fixed__header">About me</h2>
        <div class="split-block split-block--v-align">
            <div class="split-block__left">
                <div class="portrait about-me__portrait">
                  <img src="/images/me.png" alt="My self portrait" />
                </div>
            </div>

            <div class="split-block__right about-me__bio">
                <p>Devoted husband and father</p>
                <p>I began tinkering with JavaScript in my mid-teens, that interest never waned.</p>
                <p>Browsers provide a ubiquitous platform to build mobile and desktop applications. I consider it a privilege to be a part of this ever evolving ecosystem.</p>
            </div>
        </div>
    </article>
</main>

{% include "partials/footer.html" %}

</body>
</html>
