{% extends "bases/page.html" %}

{% block content %}

<main class="portfolio-main">
    <p class="back">
        <a href="/portfolio"><i class="fa-solid fa-chevron-left"></i> Projects</a>
    </p>
    <article class="project js-slide-in">
        <h2 class="project__title">
            {{ page.title }}
            {% if page.extra.url %}
                <a href="{{ page.extra.url }}" target="_blank">
                    <i class="fa-sharp fa-solid fa-link"></i>
                </a>
            {% endif %}

            {% if page.extra.repo %}
                <a href="{{ page.extra.repo }}" target="_blank">
                    <i class="devicon-github-original"></i>
                </a>
            {% endif %}
        </h2>
        <div class="project__image-container">
            <a href="{{ page.permalink }}">
                <img src="/images/portfolio-images/{{ page.extra.image }}" class="project__image" alt="Screenshot of {{page.title}}" />
            </a>
        </div>
        <div class="project__info">
            <ul class="project__tech-list">
                {% for tech in page.extra.tech %}
                    <li class="project__tech-item">{{ tech }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="project__content">
            {{ page.content | safe }}
        </div>
    </article>
</main>
{% endblock content %}
